<mat-spinner *ngIf="candidatesLoading$ | async; else candidates"></mat-spinner>
<ng-template #candidates>
  <div class="d-flex flex-row justify-content-between">
    <button type="button" mat-raised-button color="primary" (click)="update()">Update candidates</button>
    <div class="d-flex flex-row justify-content-end">
      <form [formGroup]="filterForm">
        <mat-checkbox formControlName="showBad" (change)="onFilterChange()">Show bad candidates</mat-checkbox>
      </form>
    </div>
  </div>
  <div *ngIf="candidates$ | async; let candidates; else: noCandidates">
    <ng-container *ngIf="candidates.length; else noCandidates">
      <app-candidate-list-item *ngFor="let candidate of page$ | async" [candidate]="candidate"></app-candidate-list-item>
      <mat-paginator
        [length]="candidates.length"
        [pageSize]="pageSize$ | async"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="pageIndex$ | async"
        (page)="onPageChanged($event)"
      ></mat-paginator>
    </ng-container>
  </div>
</ng-template>
<ng-template #noCandidates>
  <p>No candidates</p>
</ng-template>
