<button type="button" (click)="update()">Update</button>
<div *ngIf="candidate$ | async; let candidate">
  <div [class]="'status status-' + candidate.tracker.status.toLowerCase()">
    {{ candidate.tracker.status }}
  </div>
  <app-candidate-list-item [candidate]="candidate" [showStatus]="false"></app-candidate-list-item>
  <ng-container [ngSwitch]="candidate.tracker.status">
    <div *ngSwitchCase="'INITIAL'">
      <button type="button" mat-raised-button color="primary" (click)="good(candidate)">Good</button>
      <button type="button" mat-raised-button color="default" (click)="watch(candidate)">Watch</button>
      <button type="button" mat-raised-button color="warn" (click)="bad(candidate)">Bad</button>
    </div>
    <div *ngSwitchCase="'GOOD'">
      <button type="button" mat-raised-button color="primary">Good</button>
      <button type="button" mat-raised-button color="default">Watch</button>
      <button type="button" mat-raised-button color="warn">Bad</button>
    </div>
  </ng-container>
</div>
