.status {
  text-align: center;
}
.status-initial {
  background: #5599ff;
}
.status-watch {
  background: yellow;
}
.status-good {
  background: greenyellow;
}
.status-invited {
  background: green;
}
.status-hired {
  background: green;
}
.status-bad {
  background: red;
}
.status-refused {
  background: grey;
}
