/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-scss-only/scss/bootstrap.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.card-title-right {
  margin: 0 0 0 auto;
}

mat-form-field.w-100 .mat-form-field-infix {
  width: 100%;
}

mat-sidenav {
  width: 300px;
}

.mat-paginator {
  background: initial;
}
