/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-scss-only/scss/bootstrap.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.card-title-right {
  margin: 0 0 0 auto;
}

mat-form-field.w-100 .mat-form-field-infix {
  width: 100%;
}

mat-sidenav {
  width: 300px;
}

.mat-paginator {
  background: initial;
}

mat-form-field.short {
  .mat-form-field-infix {
    width: 90px;
  }
}

table {
  mat-form-field.mat-form-field-appearance-legacy {
    .mat-form-field-wrapper {
      margin-bottom: -1.25em;
      .mat-form-field-infix {
        padding-top: 0px;
        border-top: 0px;
        .mat-form-field-label-wrapper {
          display: none;
        }
      }
    }
  }
}
