<mat-card>
  <div [class]="showStatus && tracker && 'card-content status-' + tracker.status.toLowerCase()">
    <mat-card-header>
      <img *ngIf="profile.portrait_50" mat-card-avatar [src]="profile.portrait_50" />
      <mat-card-title
        ><a [routerLink]="profile.id">{{ profile.name }}</a></mat-card-title
      >
      <mat-card-subtitle>{{ profile.title }}</mat-card-subtitle>
      <div class="card-title-right">
        <div>{{ profile.rate | currency }}</div>
        <div *ngIf="profile.feedback">{{ profile.feedback | number: '1.1-1' }}</div>
        <ng-container [ngSwitch]="profile.availability">
          <div *ngSwitchCase="'fullTime'">FT</div>
          <div *ngSwitchCase="'partTime'">PT</div>
          <div *ngSwitchCase="'notSure'">OO</div>
          <div *ngSwitchDefault>N/A</div>
        </ng-container>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{ profile.description }}</p>
      <mat-chip-list>
        <mat-chip *ngFor="let skill of profile.skills">{{ skill }}</mat-chip>
      </mat-chip-list>
      <div class="update-date">{{ profile.updated | date: 'long' }}</div>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </div>
</mat-card>
