extends layout

block content
  a.btn.btn-primary(href='/auth/upwork?returnUrl=' + returnUrl) Log In with Upwork
  a.btn.btn-primary(href='/auth/freelancer?returnUrl=' + returnUrl) Log In with Freelancer
