<h3>Import OTP Bank statement</h3>
<p>Select a file to import</p>
<input type="file" (change)="onFileChanged($event)" />
<mat-accordion>
  <mat-expansion-panel *ngIf="parsed$ | async as data" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ data.account.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list #transactions>
      <mat-list-option *ngFor="let transaction of data.transactions" [value]="transaction">
        <div class="d-flex justify-content-between">
          <div>{{ transaction.dateTime | date }}: {{ transaction.description }}</div>
          <div>{{ transaction.amount | currency: transaction.currency }}</div>
        </div>
        <!-- <div>
          <div>Contragent: {{ transaction.contragent.account }}</div>
          <div>Description: {{ transaction.description }}</div>
        </div> -->
      </mat-list-option>
    </mat-selection-list>
    
    <app-taxer [transactions]="getTransactions(transactions.selectedOptions.selected)"></app-taxer>

  </mat-expansion-panel>
</mat-accordion>
